<div class="inicio">
	<div class="jumbotron">
	<h1>Prieba commit</h1>
		loLorem ipsum dolor sit bbbamet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		asdasasdasdcillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<button class="btn btn-success">Saber más</button>	
	</div>
	<div class="sep text-center">
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h4>
	</div>	
	<div class="row">
		<div class="col-lg-6">
			<carousel interval="4500" no-wrap="true" style="width:100%; height:305px;">
			<slide class="slide" ng-repeat="slide in slides">
				<img ng-src="{{slide.image}}" style="margin:auto; width:100%; height:305px;">
				<div class="carousel-caption">
          			<p>{{slide.text}}</p>
        		</div>
			</slide>
		</div>
		<div class="col-lg-6">
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
		</div>
	</div>
	<footer class="row" style="height: 450px; background:#03A9F4">
		<div class="col-lg-4 text-center" style="color: #FFFFFF">
			¿Es suscriptor?
		</div>
		<div class="col-lg-4 text-center">¿Como registrar a mi Organización?</div>
		<div class="col-lg-4 text-center">Soporte Tecnico adicional
		</div>
	</footer>
</div>



